<div class="container">

    <div class="page-header">
        <h2><kbd>WWW</kbd>-revolution</h2>
    </div>

    <div class="row">

        <div class="col-lg-1">
            <div class="btn btn-primary" ng-click="refresh()">refresh <span class="glyphicon glyphicon-refresh"></span></div>
        </div>

        <div class="col-lg-6">
            <div class="input-group">
                <input type="text" ng-model="newReferralName" class="form-control">
                <span class="input-group-btn">
                    <button class="btn btn-success" type="button" ng-click="add()" ng-disabled="!newReferralName">
                        new referral
                    </button>
                </span>
            </div>
        </div>

    </div>

    <div class="row">
        <h3>List of referrals: <small>name -- number of visits -- click name to edit</small></h3>
    </div>

    <div class="row highlight"  ng-class="{selected : referral === underEdition}"
         ng-repeat="referral in referrals track by referral.id">

        <div class="col-lg-4" ng-click="setUnderEdition(referral)"><h4><b>{{ referral.name }}</b> <small><a ng-href="/{{ referral.name }}">[visit]</a></small></h4></div>

        <div class="col-lg-1"><span class="badge"><h4><b>{{ referral.counter }}</b></h4></span></div>

        <div class="col-lg-4" ng-if="underEdition === referral">
            <h4><div class="input-group">
                <input type="text" ng-model="updateName" class="form-control">
            <span class="input-group-btn">
                <button class="btn btn-primary" type="button" ng-click="update(referral, updateName)" ng-disabled="!updateName || (updateName === referral.name)">
                    rename
                </button>
            </span>
            </div>
            </h4>
        </div>

        <div class="col-lg-1" ng-if="underEdition === referral">
            <h4><span class="glyphicon glyphicon-trash text-danger" ng-click="remove(referral.id)"></span></h4>
        </div>

    </div>
</div>